In [2]:
import pandas as pd
import os,io
import psycopg2
from sqlalchemy import create_engine

In [11]:
table1 = pd.read_excel('economic_data.xlsx',sheet_name="Table 1");
table2 = pd.read_excel('economic_data.xlsx',sheet_name="Table 2");
drop_cols = [
    "Number of non-employing businesses",
    "Number of employing businesses: 1-4 employees",
    "Number of employing businesses: 5-19 employees",
    "Number of employing businesses: 20 or more employees",
    "Number of non-employing business entries",
    "Number of employing business entries: 1-4 employees",
    "Number of employing business entries: 5-19 employees",
    "Number of employing business entries: 20 or more employees",
    "Number of non-employing business exits",
    "Number of employing business exits: 1-4 employees",
    "Number of employing business exits: 5-19 employees",
    "Number of employing business exits: 20 or more employees",
    "Value of private sector houses ($m)",
    "Value of private sector dwellings excluding houses ($m)",
    "Number of business entries with turnover of zero to less than $50k",
    "Number of business entries with turnover of $50k to less than $200k",
    "Number of business entries with turnover of $200k to less than $2m",
    "Number of business entries with turnover of $2m to less than $5m",
    "Number of business entries with turnover of $5m to less than $10m",
    "Number of business entries with turnover of $10m or more",
    "Number of business exits with turnover of zero to less than $50k",
    "Number of business exits with turnover of $50k to less than $200k",
    "Number of business exits with turnover of $200k to less than $2m",
    "Number of business exits with turnover of $2m to less than $5m",
    "Number of business exits with turnover of $5m to less than $10m",
    "Number of business exits with turnover of $10m or more",
    "Crops - total gross value ($m)",
    "Livestock slaughtered and other disposals - total gross value ($m)",
    "Houses - additions (no.)",
    "Houses - removals (no.)",
    "Houses - total (no.)",
    "Townhouses - additions (no.)",
    "Townhouses - removals (no.)",
    "Townhouses - total (no.)",
    "Apartments - additions (no.)",
    "Apartments - removals (no.)",
    "Apartments - total (no.)",
]
table1 = table1.drop(columns=[c for c in drop_cols if c in table1.columns])
table2 = table2.drop(columns=[c for c in drop_cols if c in table2.columns])
gccsa_labels = [
    "Greater Sydney",
    "Greater Melbourne",
    "Greater Brisbane",
    "Greater Adelaide",
    "Greater Perth",
    "Greater Hobart",
    "Greater Darwin",
    "Australian Capital Territory"  # ACT å±äº GCCSA
]
table1 = table1[
    ~(
        (table1['Label'] == "Australia") |
        (table1['Label'].isin(gccsa_labels)) |
        (table1['Label'].str.startswith("Rest of "))
    )
]
table1.reset_index(drop=True, inplace=True)
with pd.ExcelWriter("economic_data.xlsx", engine='openpyxl') as writer:
    table1.to_excel(writer, sheet_name='Table 1', index=False)
    table2.to_excel(writer, sheet_name='Table 2', index=False)

In [19]:
table2.to_excel('economic_data_new.xlsx', sheet_name='Table 1', index=False)

In [53]:
pg_host = os.getenv("PGHOST","localhost");
pg_port = os.getenv("PGPORT","5432");
pg_db = os.getenv("PGDATABASE","comp5339");
pg_user = os.getenv("PGUSER","ct");
pg_pass = os.getenv("PGPASS","root");
df = pd.read_excel("economic_data_new.xlsx", sheet_name='Table 1')
lower = {c: str(c).strip().lower() for c in df.columns}
df = df.rename(columns=lower)

In [55]:
df_region = df[["code","label"]].copy()
df_region["code"]  = df_region["code"].astype(str).str.strip()
df_region["label"] = df_region["label"].astype(str).str.strip()
df_region = df_region[(df_region["code"]!="") & (df_region["label"]!="")]
unique_code_df = df_region.drop_duplicates(subset="code")
unique_code_df = unique_code_df.reset_index(drop=True)
# engine = create_engine(
#     f"postgresql+psycopg2://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}"
# )
# unique_code_df.to_sql("region", engine, if_exists="replace", index=False)

In [54]:
print(df.columns.tolist())

['code', 'label', 'year', 'total number of businesses', 'total number of business entries', 'total number of business exits', 'agriculture, forestry and fishing (no.)', 'mining (no.)', 'manufacturing (no.)', 'electricity, gas, water and waste services (no.)', 'construction (no.)', 'wholesale trade (no.)', 'retail trade (no.)', 'accommodation and food services (no.)', 'transport, postal and warehousing (no.)', 'information media and telecommunications (no.)', 'financial and insurance services (no.)', 'rental, hiring and real estate services (no.)', 'professional, scientific and technical services (no.)', 'administrative and support services (no.)', 'public administration and safety (no.)', 'education and training (no.)', 'health care and social assistance (no.)', 'arts and recreation services (no.)', 'other services (no.)', 'currently unknown (no.)', 'number of businesses with turnover of zero to less than $50k', 'number of businesses with turnover of $50k to less than $200k', 'number of businesses with turnover of $200k to less than $2m', 'number of businesses with turnover of $2m to less than $5m', 'number of businesses with turnover of $5m to less than $10m', 'number of businesses with turnover of $10m or more', 'private sector houses (no.)', 'private sector dwellings excluding houses (no.)', 'total private sector dwelling units (no.)', 'total dwelling units (no.)', 'total value of private sector dwelling units ($m)', 'value of residential building ($m)', 'value of non-residential building ($m)', 'value of total building ($m)', 'number of established house transfers (no.)', 'median price of established house transfers ($)', 'number of attached dwelling transfers (no.)', 'median price of attached dwelling transfers ($)', 'debtors entering business related personal insolvencies (no.)', 'debtors entering non-business related personal insolvencies (no.)', 'total debtors entering personal insolvencies (no.)', 'managers (no.)', 'professionals (no.)', 'technicians and trades workers (no.)', 'community and personal service workers (no.)', 'clerical and administrative workers (no.)', 'sales workers (no.)', 'machinery operators and drivers (no.)', 'labourers (no.)', 'debtors with other or unknown occupations (no.)', 'area of holding - total area (ha)', 'dairy cattle - total (no.)', 'meat cattle - total (no.)', 'sheep and lambs - total (no.)', 'pigs - total (no.)', 'meat chickens - total (no.)', 'broadacre crops - total area (ha)', 'vegetables - total area (ha)', 'orchard fruit trees and nut trees (produce intended for sale) - total area - (ha)', 'agricultural production - total gross value ($m)', 'agriculture, forestry and fishing (%)', 'mining (%)', 'manufacturing (%)', 'electricity, gas, water and waste services (%)', 'construction (%)', 'wholesale trade (%)', 'retail trade (%)', 'accommodation and food services (%)', 'transport, postal and warehousing (%)', 'information media and telecommunications (%)', 'financial and insurance services (%)', 'rental, hiring and real estate services (%)', 'professional, scientific and technical services (%)', 'administrative and support services (%)', 'public administration and safety (%)', 'education and training (%)', 'health care and social assistance (%)', 'arts and recreation services (%)', 'other services (%)', 'industry of employment inadequately described or not stated (%)', 'total persons employed aged 15 years and over (no.)']

In [3]:
# === é…ç½®åŒºåŸŸ ===
DB_URL = "postgresql+psycopg2://ct:root@localhost:5432/comp5339"  # ä¿®æ”¹ä¸ºä½ çš„è¿æ¥ä¸²
REGION_COL = "Code"   # Excel é‡Œçš„åœ°åŒºåˆ—å
TIME_COL   = "Year"   # Excel é‡Œçš„æ—¶é—´åˆ—å

# === è¯» Excel ===
df = pd.read_excel("economic_data_new.xlsx" )
df = df.replace("-", pd.NA)

# === å·¥å…·å‡½æ•° ===
def safe_num(series: pd.Series) -> pd.Series:
    return pd.to_numeric(series, errors="coerce")

def ensure_columns_exist(frame: pd.DataFrame, cols: dict) -> dict:
    return {k: v for k, v in cols.items() if k in frame.columns}

# === å„è¡¨çš„åˆ—æ˜ å°„ (ExcelåŸå§‹åˆ—å -> æ•°æ®åº“å­—æ®µå) ===
MAP_FACTS_BUSINESSES = {
    "Total number of businesses": "total_number_of_businesses",
    "Total number of business entries": "total_number_of_business_entries",
    "Total number of business exits": "total_number_of_business_exits",
    "Number of businesses with turnover of zero to less than $50k": "number_of_businesses_with_turnover_0_50k",
    "Number of businesses with turnover of $50k to less than $200k": "number_of_businesses_with_turnover_50k_200k",
    "Number of businesses with turnover of $200k to less than $2m": "number_of_businesses_with_turnover_200k_2m",
    "Number of businesses with turnover of $2m to less than $5m": "number_of_businesses_with_turnover_2m_5m",
    "Number of businesses with turnover of $5m to less than $10m": "number_of_businesses_with_turnover_5m_10m",
    "Number of businesses with turnover of $10m or more": "number_of_businesses_with_turnover_10m_more",
}

MAP_FACTS_BIZ_BY_IND = {
    "Agriculture, forestry and fishing (no.)": "agriculture_forestry_and_fishing_no",
    "Mining (no.)": "mining_no",
    "Manufacturing (no.)": "manufacturing_no",
    "Electricity, gas, water and waste services (no.)": "electricity_gas_water_and_waste_services_no",
    "Construction (no.)": "construction_no",
    "Wholesale trade (no.)": "wholesale_trade_no",
    "Retail trade (no.)": "retail_trade_no",
    "Accommodation and food services (no.)": "accommodation_and_food_services_no",
    "Transport, postal and warehousing (no.)": "transport_postal_and_warehousing_no",
    "Information media and telecommunications (no.)": "information_media_and_telecommunications_no",
    "Financial and insurance services (no.)": "financial_and_insurance_services_no",
    "Rental, hiring and real estate services (no.)": "rental_hiring_and_real_estate_services_no",
    "Professional, scientific and technical services (no.)": "professional_scientific_and_technical_services_no",
    "Administrative and support services (no.)": "administrative_and_support_services_no",
    "Public administration and safety (no.)": "public_administration_and_safety_no",
    "Education and training (no.)": "education_and_training_no",
    "Health care and social assistance (no.)": "health_care_and_social_assistance_no",
    "Arts and recreation services (no.)": "arts_and_recreation_services_no",
    "Other services (no.)": "other_services_no",
    "Currently unknown (no.)": "currently_unknown_no",
}

MAP_FACTS_HOUSING = {
    "Private sector houses (no.)": "private_sector_houses_no",
    "Private sector dwellings excluding houses (no.)": "private_sector_dwellings_excluding_houses_no",
    "Total private sector dwelling units (no.)": "total_private_sector_dwelling_units_no",
    "Total dwelling units (no.)": "total_dwelling_units_no",
    "Total value of private sector dwelling units ($m)": "total_value_of_private_sector_dwelling_units_m",
    "Value of residential building ($m)": "value_of_residential_building_m",
    "Value of non-residential building ($m)": "value_of_non_residential_building_m",
    "Value of total building ($m)": "value_of_total_building_m",
    "Number of established house transfers (no.)": "number_of_established_house_transfers_no",
    "Median price of established house transfers ($)": "median_price_of_established_house_transfers_dollars",
    "Number of attached dwelling transfers (no.)": "number_of_attached_dwelling_transfers_no",
    "Median price of attached dwelling transfers ($)": "median_price_of_attached_dwelling_transfers_dollars",
}

MAP_FACTS_INSOLVENCY = {
    "Debtors entering business related personal insolvencies (no.)": "debtors_entering_business_related_personal_insolvencies_no",
    "Debtors entering non-business related personal insolvencies (no.)": "debtors_entering_non_business_related_personal_insolvencies_no",
    "Total debtors entering personal insolvencies (no.)": "total_debtors_entering_personal_insolvencies_no",
    "Managers (no.)": "managers_no",
    "Professionals (no.)": "professionals_no",
    "Technicians and trades workers (no.)": "technicians_and_trades_workers_no",
    "Community and personal service workers (no.)": "community_and_personal_service_workers_no",
    "Clerical and administrative workers (no.)": "clerical_and_administrative_workers_no",
    "Sales workers (no.)": "sales_workers_no",
    "Machinery operators and drivers (no.)": "machinery_operators_and_drivers_no",
    "Labourers (no.)": "labourers_no",
    "Debtors with other or unknown occupations (no.)": "debtors_with_other_or_unknown_occupations_no",
}

MAP_FACTS_AGRI = {
    "Area of holding - total area (ha)": "area_of_holding_total_area_ha",
    "Dairy cattle - total (no.)": "dairy_cattle_total_no",
    "Meat cattle - total (no.)": "meat_cattle_total_no",
    "Sheep and lambs - total (no.)": "sheep_and_lambs_total_no",
    "Pigs - total (no.)": "pigs_total_no",
    "Meat chickens - total (no.)": "meat_chickens_total_no",
    "Broadacre crops - total area (ha)": "broadacre_crops_total_area_ha",
    "Vegetables - total area (ha)": "vegetables_total_area_ha",
    "Orchard fruit trees and nut trees (produce intended for sale) - total area - (ha)": "orchard_fruit_trees_and_nut_trees_total_area_ha",
    "Agricultural production - total gross value ($m)": "agricultural_production_total_gross_value_m",
}

MAP_FACTS_EMP = {
    "Agriculture, forestry and fishing (%)": "agriculture_forestry_and_fishing_pct",
    "Mining (%)": "mining_pct",
    "Manufacturing (%)": "manufacturing_pct",
    "Electricity, gas, water and waste services (%)": "electricity_gas_water_and_waste_services_pct",
    "Construction (%)": "construction_pct",
    "Wholesale trade (%)": "wholesale_trade_pct",
    "Retail trade (%)": "retail_trade_pct",
    "Accommodation and food services (%)": "accommodation_and_food_services_pct",
    "Transport, postal and warehousing (%)": "transport_postal_and_warehousing_pct",
    "Information media and telecommunications (%)": "information_media_and_telecommunications_pct",
    "Financial and insurance services (%)": "financial_and_insurance_services_pct",
    "Rental, hiring and real estate services (%)": "rental_hiring_and_real_estate_services_pct",
    "Professional, scientific and technical services (%)": "professional_scientific_and_technical_services_pct",
    "Administrative and support services (%)": "administrative_and_support_services_pct",
    "Public administration and safety (%)": "public_administration_and_safety_pct",
    "Education and training (%)": "education_and_training_pct",
    "Health care and social assistance (%)": "health_care_and_social_assistance_pct",
    "Arts and recreation services (%)": "arts_and_recreation_services_pct",
    "Other services (%)": "other_services_pct",
    "Industry of employment inadequately described or not stated (%)": "industry_of_employment_inadequately_described_or_not_stated_pct",
    "Total persons employed aged 15 years and over (no.)": "total_persons_employed_15_years_and_over_no",
}

GROUPS = [
    ("facts_businesses", MAP_FACTS_BUSINESSES),
    ("facts_businesses_by_industry", MAP_FACTS_BIZ_BY_IND),
    ("facts_housing", MAP_FACTS_HOUSING),
    ("facts_insolvency", MAP_FACTS_INSOLVENCY),
    ("facts_agriculture", MAP_FACTS_AGRI),
    ("facts_employment", MAP_FACTS_EMP),
]

# === è¿æ¥æ•°æ®åº“ ===
engine = create_engine(DB_URL)

# === åŠ è½½å‡½æ•° ===
def load_group(table_name: str, mapping: dict, excel: pd.DataFrame):
    if REGION_COL not in excel.columns or TIME_COL not in excel.columns:
        raise RuntimeError(f"ç¼ºå°‘ {REGION_COL} æˆ– {TIME_COL} åˆ—ï¼Œè¯·æ£€æŸ¥ Excel è¡¨å¤´ã€‚")

    mapping_present = ensure_columns_exist(excel, mapping)
    if not mapping_present:
        print(f"è·³è¿‡ {table_name}: Excel ä¸­æ²¡æœ‰å¯¹åº”åˆ—ã€‚")
        return

    out = pd.DataFrame()
    out["region_code"] = excel[REGION_COL].astype(str)
    out["period"] = pd.to_numeric(excel[TIME_COL], errors="coerce")

    for orig, target in mapping_present.items():
        out[target] = safe_num(excel[orig])

    out.to_sql(table_name, engine, if_exists="append", index=False)
    print(f"âœ… å·²å¯¼å…¥ {table_name}: {out.shape[0]} è¡Œ, {out.shape[1]} åˆ— (ä¸å« id)")

# === æ‰§è¡Œå¯¼å…¥ ===
for tbl, mp in GROUPS:
    load_group(tbl, mp, df)

print("ğŸ‰ å…¨éƒ¨è¡¨æ ¼å¯¼å…¥å®Œæˆ")

âœ… å·²å¯¼å…¥ facts_businesses: 4923 è¡Œ, 11 åˆ— (ä¸å« id)
âœ… å·²å¯¼å…¥ facts_businesses_by_industry: 4923 è¡Œ, 22 åˆ— (ä¸å« id)
âœ… å·²å¯¼å…¥ facts_housing: 4923 è¡Œ, 14 åˆ— (ä¸å« id)
âœ… å·²å¯¼å…¥ facts_insolvency: 4923 è¡Œ, 14 åˆ— (ä¸å« id)
âœ… å·²å¯¼å…¥ facts_agriculture: 4923 è¡Œ, 12 åˆ— (ä¸å« id)
âœ… å·²å¯¼å…¥ facts_employment: 4923 è¡Œ, 23 åˆ— (ä¸å« id)
ğŸ‰ å…¨éƒ¨è¡¨æ ¼å¯¼å…¥å®Œæˆ